{% extends 'base.html' %}

{% block content %}
<div class="login-wrapper">
  <form class="login" method="post">
    <!-- <div class="login-header">
      <div class="logo"></div>
    </div> -->
    <div class="login-body">
      <section class="title">
        <div class="welcome">Welcome to</div>
        StealthMatch
        <div class="hint">One step at a time</div>
      </section>
      <div class="login-group">
        <clr-select-container>
          <label >User Type</label>
          <select class="clr-input" clrSelect name="type" [(ngModel)]="form.type">
            <option value="local">User</option>
            <option value="admin">Administrator</option>
          </select>
        </clr-select-container>
        <clr-input-container>
          <label class="clr-sr-only">Username</label>
          <input class="clr-input" type="text" autocomplete="username" name="username" clrInput placeholder="Enter username"
            [(ngModel)]="form.username" />
        </clr-input-container>
        <clr-password-container>
          <label class="clr-sr-only">Password</label>
          <input class="clr-input" type="password" autocomplete="current-password" name="password" clrPassword
            placeholder="Enter password" [(ngModel)]="form.password" />
        </clr-password-container>
        <!-- <div class="error active">Invalid user name or password</div> -->
        <button type="submit" class="btn btn-primary">Log in</button>
        <!-- <a href="javascript://" class="signup">Sign up for an account</a> -->
      </div>
    </div>
  </form>
</div>
{% endblock %}