{% extends 'base.html' %}

{% block content %}
{% for profile in interactions %}
<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
        <div class="card">
            <h3 class="card-header">{{ profile['username'] }}</h3>
            <div class="card-block">
                <div class="card-text">Last Online: {{ profile['lastActivity'] }}</div><span></span>
            </div>
            <div class="card-footer">
                <a href="{{ url_for('blog.viewProfile', username=profile['username']) }}"
                    class="btn btn-sm btn-link">View</a>
                {% if g.user['username'] != profile['token'] %}
                <a href="{{ url_for('blog.directMessage', username=g.user['username']) }}?recipientId={{profile['id']}}&size=1"
                    class="btn btn-sm btn-link">Message</a>
                {% else %}
                <a href="{{ url_for('blog.editProfile', username=g.user['username']) }}"
                    class="btn btn-sm btn-link">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}