<!doctype html>
<html lang="en">
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='global.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='clr-ui.min.css') }}" />

<body cds-theme="light">
  <header class="header header-6">
    <div class="branding">
      <a href="{{ url_for('index') }}">
        <cds-icon shape="vm-bug"></cds-icon>
        <span class="title">Flask App</span>
      </a>
    </div>
    <div class="header-nav">
      {% if g.user %}

      <a href="{{ url_for('auth.logout') }}" class="nav-link nav-icon">
        <cds-icon shape="cloud">Logout</cds-icon>
      </a>
      {% else %}
      {% if request.path == url_for("auth.login") %}
      <a href="{{ url_for('auth.register') }}" class="nav-link nav-icon">
        <cds-icon shape="cloud">Register</cds-icon>&nbsp&nbsp
      </a>
      {% elif request.path == url_for("auth.register") %}
      <a href="{{ url_for('auth.login') }}" class="active nav-link nav-icon">
        <cds-icon shape="folder">Login</cds-icon>
      </a>
      {% endif %}
      {% endif %}
    </div>
  </header>
  {% if g.user %}
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link " href="{{ url_for('blog.index', username=g.user['username']) }}">Browse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('blog.viewProfile', username=g.user['username']) }}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('blog.messages', username=g.user['username']) }}">Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('blog.account', username=g.user['username']) }}">Account</a>
      </li>
    </ul>
    {% endif %}
  </nav>

  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  <div class="content-container">
    <div class="content-area">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
<script>
  var modal = document.getElementById("myModal");
  var btn = document.getElementById("deleteModalButton");
  var cancelbtn = document.getElementById("cancelModalButton");

  // When the user clicks the button, open the modal 
  btn.onclick = function () {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  cancelbtn.onclick = function () {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>

{% if request.path == url_for("blog.directMessage", username=g.user['username']) %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
  integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
  crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
  // scrolls to bottom on page load
  {% if size | int == 1 %}
  function scrollToBottom() {
    var list = document.querySelector('.scrollable-list');
    list.scrollTop = list.scrollHeight;
  }
  // Call the function when the page is loaded
  window.onload = scrollToBottom;
  {% endif %}
  var socket = io();

  document.getElementById('sendMessageForm').addEventListener('submit', function (event) {
    event.preventDefault(); // Prevent form submission
    var message = document.getElementById('messageBody').value;
    var rId = parseInt(new URLSearchParams(window.location.search).get("recipientId"));
    var username = window.location.href.split('/')[3];
    socket.emit('submitMessage', username, rId, message, {{ size }}); // Emit a WebSocket event
  document.getElementById('messageBody').value = ''; // Clear input field
  });

  socket.on('connect', function () {
    var rId = parseInt(new URLSearchParams(window.location.search).get("recipientId"));
    var username = window.location.href.split('/')[3];
    socket.emit('clientConnect', { sender: username, receiver: rId });
  });
  socket.on("serverMessagesUpdate", function (msg) {
    let myvar = JSON.parse(msg);
    console.log(myvar);
    location.reload();
  });
</script>
{% endif %}

</html>